html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wgpu-canvas {
  display: block;
  width: 70%;
  aspect-ratio: 1/1; /* NB! Squared for now as the viewport is just NDC, makes transforms dizzying to look at*/
}